[View in Colaboratory](https://colab.research.google.com/github/wo1ever/programmers/blob/master/181023_%EC%88%98%EB%B0%95%EC%88%98%EB%B0%95%EC%88%98.ipynb)

문제 설명

길이가 n이고, 수박수박수박수....와 같은 패턴을 유지하는 문자열을 리턴하는 함수, solution을 완성하세요.

예를들어 n이 4이면 수박수박을 리턴하고 3이라면 수박수를 리턴하면 됩니다.

제한 조건

n은 길이 10,000이하인 자연수입니다.

In [0]:
# 1번 타입
def solution01(n):
  answer = ''
  
  m = n // 2
  answer += '수박' * m
  
  if n % 2 == 1:
    answer += '수'
  
  return answer

In [9]:
for i in range(1,11):
  print(solution01(i))

수
수박
수박수
수박수박
수박수박수
수박수박수박
수박수박수박수
수박수박수박수박
수박수박수박수박수
수박수박수박수박수박

In [0]:
# 2번 타입
def solution02(n):
    answer = ''
    
    for i in range(1,n+1):
        if i%2 == 1:
            answer +='수'
        else:
            answer +='박'
    
    return answer

In [10]:
for i in range(1,11):
  print(solution02(i))

수
수박
수박수
수박수박
수박수박수
수박수박수박
수박수박수박수
수박수박수박수박
수박수박수박수박수
수박수박수박수박수박

In [0]:
# 3번 타입
def solution03(n):
    wm = '수박' * 5000
  
    return wm[:n]

In [11]:
for i in range(1,11):
  print(solution03(i))

수
수박
수박수
수박수박
수박수박수
수박수박수박
수박수박수박수
수박수박수박수박
수박수박수박수박수
수박수박수박수박수박

In [0]:
# 4번 타입
def solution04(n):
    wm = ['수' if i % 2 == 1 else '박' for i in range(1,n+1)]
    wm = ''.join(wm)
    return wm

In [2]:
for i in range(1,11):
  print(solution04(i))

수
수박
수박수
수박수박
수박수박수
수박수박수박
수박수박수박수
수박수박수박수박
수박수박수박수박수
수박수박수박수박수박